.google-map {
    display: flex;
    justify-content: center;
}

.location-search-bar {
    z-index: 2;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.location-search-bar input {
    width: 30vw;
    height: 3vw;
    font-family: 'Fredoka';
    padding-left: 20px;
    font-size: 20px;
    box-shadow: 0px 0px 7px 1px #888888;
    border: 0;
    border-radius: 30vw;
}

.user-location {
    height: 3vw;
    font-family: 'Fredoka';
    font-size: 15px;
}

.location-search-bar input:focus + .autocomplete-dropdown-container {
    border-radius: 15px;
    background-color: white;
    padding: 10px;
}