.error-pepe {
    margin: 15px;
    background-image: url('../../../shared/media/no-item-in-cart.jpg');
    background-size: no-repeat;
    width: 538px;
    height: 444px;
    background-position: top;
}
